<link rel="stylesheet" href="/stylesheets/footer.css">
<div class="p9">

    <div class="p9-content1">
       <img src="https://apps.odoo.com/web/image/loempia.module/29526/icon_image?unique=1bcfdc7" width="100px"  alt="">
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, nostrum ex ipsa soluta cumque in!</p>
    </div>
    
    <div class="p9-content p9-content2">
       <h4>Company</h4>
       <h5><a href="/about">About us</a></h5>
       <h5>Company</h5>
       <h5>Press and Blog</h5>
       <h5>Privacy Policy</h5>
    </div>
    <div class="p9-content p9-content3">
       <h4>Service</h4>
       <h5>How it Worked</h5>
       <h5>Our Blog</h5>
       <h5>Our Service</h5>
        <h5>Contact us</h5>
    </div>
    <div class="p9-content p9-content4">
       <h4>Quick Link</h4>
       <h5>Press Center</h5>
       <h5><a href="/about">About us</a></h5>
       <h5><a href="/dashboard">Dashboard</a></h5>
       <h5><a href="/searchexpenses">Search Expenses</a></h5>
    </div>
</div>



<div class="last">
    <div class="last1">
        <h5>@2023 Expense Tracker copyright reserved</h5>
    </div>
    <div class="filler"></div>
    <div class="last2">
        <h5>Terms of Services</h5>
    </div>
    <div class="last3">
        <h5>Privacy Policy</h5>
    </div>
</div>


</body>
</html>