<%- include("partials/nav1")%>
<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/about.css">

<div class="pg1">
    <div class="pg1-head">
        <h1>About Us</h1>
<p>This expense tracker application is dedicated in helping you manage your financial life.</p>
    </div>
<hr>
    <div class="contentbox">
        <h1>Very simple, <br> intuitive and <br> straight <br> forward</h1>
        <p>If you are looking for a complicated money management application that promises you to do everything you ever wanted, then you have to keep looking because this app is not for you.
            This expense tracker & manager promises to be a very simple, intuitive and straight forward mobile application that helps and assists you to track all your expenses, manage your budgets/costs and organize your spending, enabling you to make savings and order in your financial life.
            
            Dedicated in helping you manage your financial life, easily, efficiently and with no complications</p>


            <div class="circleboxcontent">
<div class="circlebox1">
    <div class="circle1">
    <h1>100</h1>
    </div>
    <h3>EASY TO USE</h3>
</div>
           <div class="circlebox2">
            <div class="circle2">
            <h1>100</h1>

            </div>
                <h3>COMPREHENSIVE   </h3>
           </div>    
        
              
        <div class="circlebox3">
            <div class="circle3">
            <h1>100</h1>

            </div>
            <h3>SAFE AND SECURE </h3>
        </div>
       
        <div class="circlebox4">
            <div class="circle4">
            <h1>100</h1>

            </div>
            <h3>YOUR BEST FRIENT <br></h3>
        </div>
        
       
            </div>
    </div>

   
</div>

<div class="pg2">
    <h1>HOW ITS WORKS</h1>

    <div class="boxes">
        <div class="box1 box">

            <h2>Sign Up:</h2>
            <p>Create your EasyExpense account in just a few clicks. Your financial journey begins here!</p>
        </div>
        <div class="box2 box">
            <h2>Connect Your Accounts:</h2>
            <p>Link your bank accounts securely to import transactions seamlessly.</p>
        </div>
        <div class="box3 box">
            <h2>Categorize Expenses:</h2>
            <p>Easily categorize your expenses and customize tags for a personalized financial overview.</p>
        </div>
        <div class="box4 box">
            <h2>Set Budgets:</h2>
            <p>Establish realistic budgets for different categories and receive alerts when you're approaching your limits.</p>
        </div>
        <div class="box5 box">
            <h2>Stay on Track:</h2>
            <p> With real-time updates and personalized suggestions, EasyExpense helps you stay on budget and achieve your financial goals.</p>
        </div>

</div>

<%- include("partials/footer")%>
