

<%- include("partials/header")%>
<%- include("partials/nav1")%>


<link rel="stylesheet" href="/stylesheets/forgot.css">



<div class="pg1">
    <h1>Change Password</h1>
    <form action="/changepassword" method="post">
        <input type="password" name="oldpassword" placeholder="OldPassword">
        <input type="password" name="newpassword" placeholder="NewPassword">
    <button>Changepassword</button>
    </form>
</div>
