

<link rel="stylesheet" href="/stylesheets/forgot.css">
<%- include("partials/header")%>
<%- include("partials/nav1")%>



<div class="pg1">
    <h1>Forgot Password</h1>
    <form action="/forgot" method="post">
        <input type="email" name="email" placeholder="Enter your Email">
        <button>Submit</button>
    </form>
</div>




<%- include("partials/footer")%>

