<%- include("partials/header")%>
<%- include("partials/nav1")%>
<link rel="stylesheet" href="/stylesheets/style.css">


<div class="pg1">
<div class="overlay">
    <h1>Expense Tracker!!</h1>
    <p>Are you tired of managing your expenses the old-fashioned way? Do you find it challenging to keep track of where your money is going each month? Look no further! Expense Tracker is here to simplify your financial life and empower you to take control of your spending.</p>
    <a href="/register">Let's Start it's Free</a>
</div>



</div>







<%- include("partials/footer")%>





