

<link rel="stylesheet" href="/stylesheets/loginpg.css">


<%- include("partials/header")%>

<div class="loginpg">
    <h1>Login Your Self</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>LOGIN</button>  
        <a href="/forgot" class="forgotbtn">Forgot Password</a>


<h3>Don't have an accoont? <a href="/register">Register Yourself</a></h3>

    </form>

</div>

<%- include("partials/footer")%>
