
<%- include("partials/nav1")%>
<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/forgot.css">
<div class="pg1">
    <h1>OTP</h1>
    <form action="/matchOtp/<%= email%>" method="post">
        <input type="number" name="otp" placeholder="Enter Otp">
        <button>Confirm</button>
    </form>
</div>

<%- include("partials/footer")%>
