

<link rel="stylesheet" href="/stylesheets/forgot.css">
<%- include("partials/nav1")%>
<%- include("partials/header")%>

<div class="pg1">
    <h1>Reset Password</h1>
    <form action="/resetpassword/<%= id%>" method="post">
        <input type="password" name="password" placeholder="New Password">
        <button>Reset Password</button>
    </form>
</div>