

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.loginpg{
    height: 100vh;
    width: 100%;
    background-color:rgb(10, 10, 93);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginpg> h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vmax;
    margin-bottom: 2vmax;
}

form{
    height: 73vh;
    width: 30vw;
    background-color: white;
    border-radius: 1vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

input{
    height: 8vh;
    width: 20vw;
    border: 1px solid grey;
    border-radius: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    margin: 1vmax;
    padding: 0 2vmax;
}

form >button{
    background-color:yellowgreen;
    padding: 0.9vmax 1.6vmax;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 0.5vmax;
    margin-top: 1vmax;
    border: none;
}

form >h3{
font-family: Arial, Helvetica, sans-serif;
font-size: 1.2vmax;
margin-top: 4vmax;
}

.forgotbtn{
margin-top: 1.5vmax;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: darkblue;

}

.changebtn{
    margin-top: 1.2vmax;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: darkblue;
}



@media(max-width: 600px){

    .loginpg> h1{
      
        font-size: 4vmax;
        margin-bottom: 3vmax;
    }

    form{
        height: 40vh;
        width: 70vw;
    }


    input{
        height: 5vh;
        width: 55vw;
        font-size: 2vmax;
    }

    form >button{
        padding: 1.3vmax 2vmax;
        font-size: 2vmax;
        margin-top: 1vmax;
    }

    form >h3{
        font-size: 1.6vmax;
}
}

